<form class="form" action="/signup" method="post">
  
  <input type="name" placeholder="name" name="name" class="input">
  <input type="password" placeholder="Password" name="password" class="input">
 
  </div>
  <button class="button-confirm">submit</button>
  <a href="">already signup</a>
</form>